.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background: var(--color-white);
}

.layout-main {
  flex: 1;
  padding-top: var(--header-height);
  padding-bottom: var(--nav-height);
}
